cloud_id                 = "b1g0d9fnkcg0p56pie7g"
folder_id                = "b1g3ohh4eqd4pok4ompb"
zone                     = "ru-central1-a"
image_id                 = "fd8nm3vq8sf7l31hshhm"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9b0ucrpq8aebu4b9rqc"
service_account_key_file = "key.json"
privat_key_path          = "~/.ssh/appuser"
app_disk_image           = "fd8h8ajrp1134jf5rpdc"
db_disk_image            = "fd8i36s3pdun00s58ja7"
