cloud_id                 = "b1g0d9fnkcg0p56pie7g"
folder_id                = "b1g0d9fnkcg0p56pie7g"
zone                     = "ru-central1-a"
image_id                 = "b1g0d9fnkcg0p56pie7g"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "b1g0d9fnkcg0p56pie7g"
service_account_key_file = "key.json"
privat_key_path          = "~/.ssh/appuser"
token                    = "b1g0d9fnkcg0p56pie7g-b1g0d9fnkcg0p56pie7g"
app_count                = 2
